<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MediCureClinicAutomation</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Employee Management -->
	<servlet>
		<description></description>
		<display-name>DocAutoGen</display-name>
		<servlet-name>DocAutoGen</servlet-name>
		<servlet-class>com.medicure.employee.register.DocAutoGen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocAutoGen</servlet-name>
		<url-pattern>/doctor.up</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RecAutoGen</display-name>
		<servlet-name>RecAutoGen</servlet-name>
		<servlet-class>com.medicure.employee.register.RecAutoGen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecAutoGen</servlet-name>
		<url-pattern>/receptionist.up</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ValidateLogin</display-name>
		<servlet-name>ValidateLogin</servlet-name>
		<servlet-class>com.medicure.employee.login.ValidateLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateLogin</servlet-name>
		<url-pattern>/clinic.vld</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PatAutoGen</display-name>
		<servlet-name>PatAutoGen</servlet-name>
		<servlet-class>com.medicure.employee.register.PatAutoGen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatAutoGen</servlet-name>
		<url-pattern>/patient.up</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SalesmanAutoGeneration</display-name>
		<servlet-name>SalesmanAutoGeneration</servlet-name>
		<servlet-class>com.medicure.employee.register.SalesmanAutoGeneration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesmanAutoGeneration</servlet-name>
		<url-pattern>/salesman.up</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SupplierAutoGeneration</display-name>
		<servlet-name>SupplierAutoGeneration</servlet-name>
		<servlet-class>com.medicure.employee.register.SupplierAutoGeneration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupplierAutoGeneration</servlet-name>
		<url-pattern>/supplier.up</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewDoctorProfile8</display-name>
		<servlet-name>ViewDoctorProfile8</servlet-name>
		<servlet-class>com.medicure.employee.view.ViewDoctorProfile8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewDoctorProfile8</servlet-name>
		<url-pattern>/ViewDoctorProfile8</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoctorUpdate</display-name>
		<servlet-name>DoctorUpdate</servlet-name>
		<servlet-class>com.medicure.employee.update.DoctorUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoctorUpdate</servlet-name>
		<url-pattern>/DoctorUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoctorUpdateDisplay</display-name>
		<servlet-name>DoctorUpdateDisplay</servlet-name>
		<servlet-class>com.medicure.employee.update.DoctorUpdateDisplay</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoctorUpdateDisplay</servlet-name>
		<url-pattern>/DoctorUpdateDisplay</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OrderDrugUpdate</display-name>
		<servlet-name>OrderDrugUpdate</servlet-name>
		<servlet-class>com.medicure.employee.prescriptionUpdate.OrderDrugUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDrugUpdate</servlet-name>
		<url-pattern>/OrderDrugUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PatientRecordView</display-name>
		<servlet-name>PatientRecordView</servlet-name>
		<servlet-class>com.medicure.employee.UpdatePatient.PatientRecordView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientRecordView</servlet-name>
		<url-pattern>/PatientRecordView</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PatientRecordUpdate</display-name>
		<servlet-name>PatientRecordUpdate</servlet-name>
		<servlet-class>com.medicure.employee.PatientUpdate.PatientRecordUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientRecordUpdate</servlet-name>
		<url-pattern>/PatientRecordUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewPatientRecord</display-name>
		<servlet-name>ViewPatientRecord</servlet-name>
		<servlet-class>com.medicure.employee.ViewPatientRecord.ViewPatientRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewPatientRecord</servlet-name>
		<url-pattern>/ViewPatientRecord</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PatientRecordViewUpdate</display-name>
		<servlet-name>PatientRecordViewUpdate</servlet-name>
		<servlet-class>com.medicure.employee.PatientRecordViewUpdate.PatientRecordViewUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientRecordViewUpdate</servlet-name>
		<url-pattern>/PatientRecordViewUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewPatientProfile</display-name>
		<servlet-name>ViewPatientProfile</servlet-name>
		<servlet-class>com.medicure.employee.ViewPatientProfile.ViewPatientProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewPatientProfile</servlet-name>
		<url-pattern>/ViewPatientProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewSupplierProfile</display-name>
		<servlet-name>ViewSupplierProfile</servlet-name>
		<servlet-class>com.medicure.employee.ViewSupplierProfile.ViewSupplierProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSupplierProfile</servlet-name>
		<url-pattern>/ViewSupplierProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SalesmanViewProfile</display-name>
		<servlet-name>SalesmanViewProfile</servlet-name>
		<servlet-class>com.medicure.employee.SalesmanViewProfile.SalesmanViewProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesmanViewProfile</servlet-name>
		<url-pattern>/SalesmanViewProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReceptionistUpdate</display-name>
		<servlet-name>ReceptionistUpdate</servlet-name>
		<servlet-class>com.medicure.employee.ReceptionistUpdate.ReceptionistUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceptionistUpdate</servlet-name>
		<url-pattern>/ReceptionistUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReceptionistUpdateRecord</display-name>
		<servlet-name>ReceptionistUpdateRecord</servlet-name>
		<servlet-class>com.medicure.employee.ReceptionistUpdateRecord.ReceptionistUpdateRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceptionistUpdateRecord</servlet-name>
		<url-pattern>/ReceptionistUpdateRecord</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveDoctor</display-name>
		<servlet-name>RemoveDoctor</servlet-name>
		<servlet-class>com.medicure.employee.remove.RemoveDoctor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveDoctor</servlet-name>
		<url-pattern>/doctor.remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemovePatient</display-name>
		<servlet-name>RemovePatient</servlet-name>
		<servlet-class>com.medicure.employee.remove.RemovePatient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemovePatient</servlet-name>
		<url-pattern>/patient.remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveReceptionist</display-name>
		<servlet-name>RemoveReceptionist</servlet-name>
		<servlet-class>com.medicure.employee.remove.RemoveReceptionist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveReceptionist</servlet-name>
		<url-pattern>/receptionist.remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveSalesman</display-name>
		<servlet-name>RemoveSalesman</servlet-name>
		<servlet-class>com.medicure.employee.remove.RemoveSalesman</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveSalesman</servlet-name>
		<url-pattern>/salesman.remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveSupplier</display-name>
		<servlet-name>RemoveSupplier</servlet-name>
		<servlet-class>com.medicure.employee.remove.RemoveSupplier</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveSupplier</servlet-name>
		<url-pattern>/supplier.remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReceptionistViewProfile</display-name>
		<servlet-name>ReceptionistViewProfile</servlet-name>
		<servlet-class>com.medicure.employee.ReceptionistViewProfile.ReceptionistViewProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceptionistViewProfile</servlet-name>
		<url-pattern>/ReceptionistViewProfile</url-pattern>
	</servlet-mapping>
	<!-- Order management -->
	<servlet>
		<description></description>
		<display-name>ProcessOrder</display-name>
		<servlet-name>ProcessOrder</servlet-name>
		<servlet-class>com.medicure.ordermanagement.ProcessOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessOrder</servlet-name>
		<url-pattern>/ProcessOrder.serv</url-pattern>
	</servlet-mapping>
	<!-- 2nd part -->
	<servlet>
		<description></description>
		<display-name>QuotationServlet</display-name>
		<servlet-name>QuotationServlet</servlet-name>
		<servlet-class>com.medicure.ordermanagement.quotation.QuotationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuotationServlet</servlet-name>
		<url-pattern>/quote.serv</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuotationSendServlet</display-name>
		<servlet-name>QuotationSendServlet</servlet-name>
		<servlet-class>com.medicure.ordermanagement.quotation.QuotationSendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuotationSendServlet</servlet-name>
		<url-pattern>/quote.send.serv</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OrderGenerationToSupplier</display-name>
		<servlet-name>OrderGenerationToSupplier</servlet-name>
		<servlet-class>com.medicure.ordermanagement.OrderGenerationToSupplier</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderGenerationToSupplier</servlet-name>
		<url-pattern>/OrderGenerationToSupplier.serv</url-pattern>
	</servlet-mapping>
	<!-- End of 2nd part -->

	<!-- 3rd part -->
	<servlet>
		<description></description>
		<display-name>UpdateQuotation</display-name>
		<servlet-name>UpdateQuotation</servlet-name>
		<servlet-class>com.medicure.ordermanagement.updatequotation.UpdateQuotation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateQuotation</servlet-name>
		<url-pattern>/UpdateQuotation</url-pattern>
	</servlet-mapping>
	<!-- end of 3rd part -->
	<!-- End of order management -->
	<!--<servlet> <description></description> <display-name>OrderStatus</display-name> 
		<servlet-name>OrderStatus</servlet-name> <servlet-class>com.dao.OrderStatus</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>OrderStatus</servlet-name> <url-pattern>/OrderStatus.serv</url-pattern> 
		</servlet-mapping> <servlet> <description></description> <display-name>ProcessOrder</display-name> 
		<servlet-name>ProcessOrder</servlet-name> <servlet-class>com.medicure.ordermanagement.ProcessOrder</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>ProcessOrder</servlet-name> <url-pattern>/ProcessOrder.serv</url-pattern> 
		</servlet-mapping> <servlet> <description></description> <display-name>QuotationServlet</display-name> 
		<servlet-name>QuotationServlet</servlet-name> <servlet-class>com.medicure.ordermanagement.quotation.QuotationServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>QuotationServlet</servlet-name> 
		<url-pattern>/quote.serv</url-pattern> </servlet-mapping> <servlet> <description></description> 
		<display-name>QuotationSendServlet</display-name> <servlet-name>QuotationSendServlet</servlet-name> 
		<servlet-class>com.medicure.ordermanagement.quotation.QuotationSendServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>QuotationSendServlet</servlet-name> 
		<url-pattern>/quote.send.serv</url-pattern> </servlet-mapping> -->

	<servlet>
		<description></description>
		<display-name>DoctorOperations</display-name>
		<servlet-name>DoctorOperations</servlet-name>
		<servlet-class>com.medicure.employee.DAO.DoctorOperations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoctorOperations</servlet-name>
		<url-pattern>/doctor</url-pattern>
	</servlet-mapping>
	<!-- DDrug Management classes go here -->
	<servlet>
		<description></description>
		<display-name>PrescriptionDelivery</display-name>
		<servlet-name>PrescriptionDelivery</servlet-name>
		<servlet-class>com.medicure.drug.receive.PrescriptionDelivery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrescriptionDelivery</servlet-name>
		<url-pattern>/PrescriptionDelivery</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PrescriptionDeliveryServlet</display-name>
		<servlet-name>PrescriptionDeliveryServlet</servlet-name>
		<servlet-class>com.medicure.drug.receive.PrescriptionDelivery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrescriptionDeliveryServlet</servlet-name>
		<url-pattern>/PrescriptionDeliveryServlet</url-pattern>
	</servlet-mapping>
</web-app>